form p {
  font-family: 'Comfortaa', sans-serif;
  font-size: 1.2em;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 2px;
}
form legend {
  font-family: 'Comfortaa', sans-serif;
  font-weight: bold;
}

.form h1 {
  font-family: 'Raleway';
  text-align: center;
  font-size: 3em;
  color: #333;
}

.message-box {
  height: 200px;
  width: 450px;
}
.user-name {
  width: 250px;
}
.user-contact {
  width: 350px;
}

.content-box {
  border: 5px solid;
}

.form-div {
  margin: auto;
  width: 500px;
  height: auto;
}
@media all and (max-width: 480px){
    .message-box{
        width: 380px;
    }
    .form-div{
        width: 300px;
        margin: 4px;
    }
}
@media all and (max-width: 425px){
    .message-box{
        width: 372px;
    }
}
@media all and (max-width: 425px){
    .message-box{
        width: 328px;
    }
    .user-contact{
        width: 320px;
    }
}
